header
{
	font-family: 'Goldman', cursive;
	font-size: 300%;
	color: #64dd17;
}

header > a:hover
{
	color: #ffe54c;
	text-decoration: none;
}

header > a:visited
{
	color: #ffe54c;
	text-decoration: none;
}

.centered
{
	text-align: center;
}

.cityInp
{
	border-width: 10px;
	border-radius: 50px;
	padding-left: 15px;
}	

.cityInp:focus
{
	border-color: #ffb300;
	background-color: white !important;
	color: black !important;
}

#inputDiv
{
	padding: 1%;
	border: 3px groove #ffb300;
	border-style: solid none solid none;
}

#searchBtn
{
	margin-top: 15px;
	border: 3px solid #1faa00;
}

label
{
	color: #9cff57;
}

.header
{
	font-size: 130%;
	color: #9cff57;
	text-align: center;
	font-weight: bold;
}

.bkblBox
{
	padding: 1%;
	border-width: 6px;
	border-style: solid;
	border-radius: 50px;
	font-size: 130%;
	text-align: center;
	margin: 2%;
}

.bkblBoxBus
{
	color: #9cff57!important;
	border-color: #ffb300;
}

.bkblBoxBus:hover
{
	box-shadow: 5px 5px gray;
}

.bkblBoxFlight:hover
{
	box-shadow: 5px 5px gray;
}

.bkblBoxFlight
{
	color: #ffb300!important;
	border-color: #9cff57;
	font-weight: bold;
}

body
{
	background-color: #282c34!important;
	color: #9cff57;
}


.bookBtnBus
{
	background-color: #64dd17!important;
	color: black!important;
}

.bookBtnFlight
{
	background-color: #ffb300;
	color: black!important;
}

/*To override the bootstrap css defaults*/
.bookBtnBus:hover
{
	background-color: #64dd17!important;
	color: black!important;
}

.bookBtnFlight:hover
{
	background-color: #ffb300;
	color: black!important;
}


#outerBox
{

}

#bookable_display
{
    background-color: #e71d36;
    border-radius: 2%;
    width: 75%;
    margin-bottom: 5%;
    padding-bottom: 5%;
}
/*#define secondary #ffb300
#define secondary-light #ffe54c
#define secondary-dark #c68400
#define primary #64dd17
#define primary-light #9cff57
#define primary-dark #1faa00*/