	  html
      {
        height: 100%;
        margin: 0;
      }

      .bg-1 
      {
        /* The image used */
        background-image: url("home-1.jpg");

        /* Full height */
        height: 100%; 

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white !important;

      }

      .bg-2 
      {
        /* The image used */
        background-image: url("home-2.jpg");

        /* Full height */
        height: 100%; 

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white !important;

      }

      .bg-3 
      {
        /* The image used */
        background-image: url("home-3.jpg");

        /* Full height */
        height: 100%; 

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white !important;

      }

      .image-text-big
      {
        font-size: 200%;
        color: white;
        overflow: scroll;
      }

      .image-text-medium
      {
        font-size: 500%;
        color: white;
        overflow: scroll;
      }

      .image-text-small
      {
        font-size: 250%;
        color: white;
        overflow: scroll;
      }

      #bigSize
      {
        font-size: 140%;
      }
 
      .jumbotron
      {
      	
 		     right: 50%;
      	width: 50%;
      	height: 10%;
      }

      .box
      {
        position: fixed;
        top: 11%;
        right: 1.5%;
        background-color: #011627;
        padding: 1.5%;
        color: white;
        width: 30%;
        border-radius: 2%
      }

      input
      {
        width: 60% !important;
        border-width: 0px 0px 2px 0px !important;
        background-color: #264653 !important;
      }

      a.box
      {
        color: black !important;

      }

      input
      {
        float: right;
      }

      label.radio
      {
        float:center;
      }