	  html
      {
        height: 100%;
        margin: 0;
      }

      .bg-1 
      {
        /* The image used */
        background-image: url("home-1.jpg");

        /* Full height */
        height: 100%; 

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white !important;

      }

      .bg-2 
      {
        /* The image used */
        background-image: url("home-2.jpg");

        /* Full height */
        height: 100%; 

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white !important;

      }

      .bg-3 
      {
        /* The image used */
        background-image: url("home-3.jpg");

        /* Full height */
        height: 100%; 

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white !important;

      }

      .image-text
      {
        font-size: 1000%;
        color: white;
        overflow: scroll;
      }

      #bigSize
      {
        font-size: 140%;
      }
 
      .jumbotron
      {
      	
 		     right: 50%;
      	width: 50%;
      	height: 10%;
      }